<h1>Assignation</h1>
<ul>
  <li *ngFor="let route of routes_hard">
    <p><strong>RouteId:</strong> {{ route.routeId }}</p>
    <p><strong>driverId:</strong> {{ route.driverId }}</p>

    <p><strong>Producto:</strong> {{ route.driverId }}</p>
    <strong>Productos:</strong>
    <ul>
      <li *ngFor="let product of route.productsToDeliver">
        <app-product (changeRoute)="handleChangeRoute($event)" [product]="product.orderId" [actualRoute]="route.routeId"></app-product>
   </li>
    </ul>
  </li>
</ul>
