<main class="main_container">
  <h1>Asignación</h1>
  <mat-accordion multi>
    <section class="assignation_button_group">
      <button mat-raised-button (click)="toggleExpand()">
        {{isExpanded ? 'Contraer' : 'Expandir'}} todas
        <mat-icon>
          {{isExpanded ? 'expand_less' : 'expand_more'}}
        </mat-icon>
      </button>
      <button mat-raised-button (click)="resetChanges()">Reset<mat-icon>refresh</mat-icon></button>
    </section>
    <button (click)="postInformation()" class="assignation_button_group" color="primary" mat-raised-button
      aria-label="button to save post information">
      Aplicar cambios
      <mat-icon>save</mat-icon>
    </button>
    <mat-expansion-panel expanded="true" *ngFor="let route of routes_api">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p><strong>Route Id:</strong> {{ route.routeId }}</p>
        </mat-panel-title>
        <mat-panel-description>
          <p><strong>Driver Id:</strong> {{ route.driverId }}</p>
        </mat-panel-description>
        <mat-panel-description>
          <p><strong>Nombre:</strong> {{getRiderName(route.driverId)}}</p>
        </mat-panel-description>
        <mat-panel-description>
          <p><strong>#Productos:</strong> {{ route.productsToDeliver.length }}</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="products_title">Productos</div>
      <mat-list>
        <mat-card class="card" *ngFor="let product of route.productsToDeliver">
          <app-product (changeRoute)="handleChangeRoute($event)" [product]="product.orderId"
            [actualRoute]="route.routeId"></app-product>
        </mat-card>
        <div *ngIf="route.productsToDeliver.length === 0">
          <h1>Esta ruta no tiene productos</h1>
        </div>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</main>
