<div class="product_container">
  <div><strong>ORDER_ID:</strong> {{product}}</div>
  <button mat-icon-button color="primary" (click)="toggleEdition()" *ngIf="!isEdited"><mat-icon>edit</mat-icon></button>
</div>
<div class="form_container">
  <div *ngIf="isEdited">
    <mat-form-field appearance="fill">
      <mat-label>Nueva ruta</mat-label>
      <mat-select [(ngModel)]="newRoute" name="selectedValue">
        <mat-option *ngFor="let opt of routesOptions" [disabled]="opt === actualRoute" [value]="opt">
          {{opt}}
        </mat-option>
      </mat-select>
      <button mat-button color="primary" *ngIf="isEdited" (click)="onSave()">Guardar</button>
    </mat-form-field>
    <button id="close_btn" mat-button *ngIf="isEdited" (click)="toggleEdition()"><mat-icon>close</mat-icon></button>
  </div>
</div>
