/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.card {
  margin: 5px;
  background-color: rgb(212, 212, 212)!important;
  width: 30%;
  display: flex;
  justify-content: space-between!important;
    padding: 1rem;
    flex-direction: row;
}


button, select {
  padding: 5px;
}

select {
  margin: 0 5px;
}

.main_container {
  display: flex;
  justify-content: center;
  max-width: 75%;
  flex-direction: column;
  margin: 0 auto;
}

.toolbar {
  display: flex;
  justify-content: center;
}
.toolbar > button {
  margin: 5px;
}
.assignation_button_group {
  margin: 8px 0;
}
/* .product {
  padding: 1rem;
  display: flex;
  align-items: center;
} */
